

.counter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.counter-container>span {
    padding: 10px 0;
    font-size: 1.2em;
}

.counter-container>.buttons-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.buttons-wrapper>button {
    margin: 0 5px;
    width: 30px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.16);
    padding: 3px 7px;
    border-radius: 5px;
    cursor: pointer;
}

.popup {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    padding: 5px;
    color: white;
    border-radius: 50%;
    font-size: 1em;
    transform: translate(-50%,0);
    animation: moveup 1.5s;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes moveup{
    0%{
        transform: translate(-50%,0);
        width: 25px;
        height: 25px;
    }
    5%{
        background-color: #e29300;
    }
    10%{
        transform: translate(-50%,-120%);
        background-color: #e29300;
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    40%{
        transform: translate(-50%,-120%);
        background-color: #e29300;
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100%{
        transform: translate(-50%,-230%);
        background-color: #e29300;
        width: 30px;
        height: 30px;
        opacity: 0;
    }
}